/********** Template CSS **********/
:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #302d2d;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
    table th{
        font-size: 10px;
    }
    table tbody tr td{
        font-size: 11px;
    }
    table tbody .btn{
        font-size: 11px;
        padding: 4px;
    }
}






.main-posts {
    position: relative;
    /* z-index: 6; */
}

.post-masonry {
    margin-bottom: 20px;
    height: 550px;
}

.post-masonry .post-thumb {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.post-masonry .post-thumb img {
    width: 100%;
    height: 100%;
    display: block;
}

.post-masonry .post-thumb .title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    padding: 15px 20px;
}




.post-masonry .post-thumb .post-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post-masonry .post-thumb .post-hover h4 {
    font-size: 16px;
    font-family: 'robotoregular';
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
    color: #fff !important;
}

.post-masonry .post-thumb .post-hover i {
    display: block;
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
    font-size: 12px;
    color: white;
}

.post-masonry .post-thumb .post-hover span {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}

.post-masonry .post-thumb:hover .title-over {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
    top: 0;
    visibility: visible;
    opacity: 0.7;
}



.detailpost-box{
    margin-top: 40px;
  }
  .detailpost-multiImages img{
    height: 160px;
    width: 100%;
    margin: 20px;
  }
  .detailpost-title h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
  }
  .detailpost-description h6{
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
  }
  .detailpost-vote{
    text-align: center;
    margin: 80px auto;
  }
  .detailpost-vote .vote-count{
    margin-left: 20px;
    font-size: 20px;
  }
  .detailpost-vote .vote-count-title{
    margin-left: 2px;
  }
  
  
  
  .updatepost{
    height: 250px;
    width: 250px;
    margin-bottom: 50px;
  }
  .updatepost .post-masonry{
    width: 100%;
    height: 100%;
  }


  
.lr-wrapper {
    max-width:100%;
    height:500px;
    margin-top:5%;
}
.lr-content {
    height:500px;
    width:400px;
}
.lr-head {
    width:100%;
    height:50px;
}
.lr-l_b {
    width:49.8%;
    height:50px;
    float:left;
    background-color:#e74c3c;
    transition: background-color 0.8s ease;
    cursor:pointer;
}
.lr-l_b > div {
    height:7px;
    width:100%;
}
.lr-l_b > span {
    width:100%;
    font-size:30px;
    height:30px;
    padding-top:5px;
    color:white;
    transition: color 0.8s ease;
}
.lr-r_b {
    width:49.7%;
    height:50px;
    float:right;
    transition: background-color 0.8s ease;
    cursor:pointer;
}
.lr-r_b > div {
    height:7px;
    width:100%;
}
.lr-r_b > span {
    width:100%;
    font-size:30px;
    height:30px;
    padding-top:5px;
    transition: color 0.8s ease;
    color: white;
}
#l-f {
    transition: display 1.8s ease;
}
.l-username {
    width:94%;
    height:40px;
    margin-top:100px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
    transition:border 1.0s ease;
}
.l-username:focus {
    border:1px solid #FF5252;
}
.l-email {
    width:94%;
    height:40px;
    margin-top:20px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
    transition:border 1.0s ease;
}
.l-email:focus {
    border:1px solid #FF5252;
}

.l-password {
    width:94%;
    height:40px;
    margin-top:20px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
    transition:border 1.0s ease;
}
.l-password:focus {
    border:1px solid #FF5252;
}
.lsubmit {
    width:150px;
    height:50px;
    margin-top:20px;
    border:none;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    background-color:#e74c3c;
    color:white;
    border-bottom:5px solid #c0392b;
    cursor:pointer;
}
#r-f {
    display:none;
}
.r-email {
    width:94%;
    height:40px;
    margin-top:100px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
    transition:border 1.0s ease;
}

.r-username {
    width:94%;
    height:40px;
    margin-top:20px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
     transition:border 1.0s ease;
}
.r-password {
    width:94%;
    height:40px;
    margin-top:20px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
     transition:border 1.0s ease;
}
.r-confpassword {
    width:94%;
    height:40px;
    margin-top:20px;
    padding-left:20px;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    border:1px solid #b3b3b3;
     transition:border 1.0s ease;
}
.r-submit {
    width:150px;
    height:50px;
    margin-top:20px;
    border:none;
    outline:none;
    font-size:25px;
    font-family:Raleway;
    background-color:#e74c3c;
    color:white;
    border-bottom:5px solid #c0392b;
    cursor:pointer;
}
.r  -password:focus {
    border:1px solid #FF5252;
}
.r-username:focus {
    border:1px solid #FF5252;
}
.r-email:focus {
    border:1px solid #FF5252;
}
.accent-text {
    color: #e74c3c;
    transition:color 1s;
}

.forgetpassword{
  display: block;
  margin-top: 10px;
}
.forgetcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgetcontainer form{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.forgetcontainer form .r-submit{
  display: block;
  margin: auto;
}
